<section id="breadcrumb" class="">
    <div class="container">
        <h3 class="text-sm font-light tracking-wide">
            <!-- base link in the breadcrumb (acceuil) and the separator -->
            <span>
                <a class="base-link" [routerLink]="['/accueil/']">Acceuil</a>
                <span class="mx-2"><i class="fal fa-greater-than"></i></span>
            </span>

            <!-- xng breadcrumb  -->
            <span class="tracking-wide">
                <xng-breadcrumb [separator]="'iconTemplate'" class="inline-block capitalize"></xng-breadcrumb>
                <!-- separator for the breadcrumb url -->
                <ng-template #iconTemplate>
                    <i class="fal fa-greater-than"></i>
                </ng-template>
            </span>     
        </h3>
        
    </div>    
</section>