<!-- user card -->
<div class="user-card">
    <!-- user picture -->
    <div class="user-picture">
        <img [src]="'./assets/userPicture/'+userPicture"  class="object-cover h-full w-full" alt="" srcset="">
    </div>
    <!--  user info -->
    <div class="user-info">
        <h3 class="text-xl capitalize font-semibold mb-1 text-template-black-212121 tracking-wider"> {{userName}}</h3>
        <h3 class="font-light capitalize text-sm text-template-blue-0c3a66"> {{userRole}}</h3>
    </div>
</div> 
