<div class="relative usi-col-13 shadow-lg 
    min-w-[349px] max-w-[349px]  min-h-[385px] max-h-[385px] my-9">
    <div class="w-bg-linear text-center w-full h-96  max-h-96 px-4 py-2">
        <img src="./assets/dr Aluc.jpg" class="object-cover" alt="" srcset="">
    </div>

    <div class="user-info py-4 px-2 text-center shadow-lg bg-usi-light-gray ">
        <h3 class="text-xl capitalize font-bold text-usi-black-text tracking-wider"> Jean Barthol ALUC</h3>
        <h3 class="font-thin capitalize text-usi-black"> Coordonnateur</h3>
    </div>
</div> 
