<div class="w-1/3  my-4 shadow-xl border">
    <div class="">
        <div class="h-72 bg-white">
            <div class=" py-4 px-4 relative h-full max-h-72">
                <div class="user-picture">
                    <img class="object-cover" 
                    src="../../assets/cat_PNG50514.png" alt="profil" srcset="">
                </div>
            </div>
        </div>
        
        <div class="pt-4 pb-4 bg-usi-blue-700">
            <ul class="text-center tracking-wide">
                <li class="font-thin text-xl capitalize text-white">User name</li>
                <li class="font-medium text-gray-400">Poste</li>
            </ul>
        </div>
    </div>
</div>
