<footer>
    <div class="footer-bottom font-Roboto">
        <div class="py-4 bg-usi-blue-900 text-gray-100 text-xs text-center">
            <span class="font-normal">&copy;2017 - 2022 Copyright :
                <a href="https://menfp.gouv.ht/#/home/" target="_blank"
                 class="font-bold hover:underline hover:text-usi-orange-400 usi-transition">
                    MENFP
                </a>
                <span class="font-bold">-USI</span>
            </span>   
        </div>
    </div>
</footer>
