<div class="h-[70vh] w-full relative border-t border-usi-blue-400">
    <div class=" absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center w-full px-4 md:w-1/2 text-usi-black-text">
        <h2 class="text-xl font-bold my-4">Oups erreur 404 !!! Page non trouvée</h2>
        <h3 class="text-base my-2">Le contenu auquel vous tentez d'accéder n'existe pas ou n'est plus disponible.</h3>
        <div class="btn">
            <a [routerLink]="'/accueil'" class="usi-transition" > Retour à l’accueil</a>
         </div>
    </div>
</div>

