<div>
    <app-header-picture [backgroundImage]="backgroundImage" [pageTitle]="pageTitle"></app-header-picture>
    <app-breadcrump ></app-breadcrump> 

    <div class="container"> 
         <div class="row">
             <p class="bref-presentation text-base text-usi-black-text py-4">
                L’Unité de Systèmes d’Information du MENFP (USI-MENFP) est une structure technique, directement rattachée à la Direction Générale du Ministère de l’Éducation Nationale et de la Formation Professionnelle, créée par décision ministérielle en date du 22 Janvier 2016.
<br>
<br>La coordination de l’USI-MENFP est confiée à un cadre choisi parmi les hauts fonctionnaires de catégorie A du Ministère ayant au moins 10 années de service. Il porte le titre de Coordonnateur ayant rang de Directeur. 
<br>
<br>L’USI-MENFP a pour mission de faire connaître et de promouvoir les bonnes pratiques en matière de management des systèmes d’information. Elle est donc responsable de la production, de la maintenance et du développement du système d’information. 
Le système d’information comprend l’ensemble des infrastructures technologiques incluant les systèmes applicatifs et techniques (matériels, réseau, sécurité, système d’exploitation et base de données), ainsi que les différents outils du centre d’assistance. 

             </p>
         </div>

         <div class="row">
             <div class="flex flex-col md:flex-row justify-between py-4 text-usi-black-text">
                <div class="basis-1/3">
                     <h4 class="title"> Notre mission</h4>
                </div>
               
                <div class="basis-2/3">
                    <div class="border-b border-usi-border-gray pb-4 mb-4">
                        <h4 class="text-lg font-bold text-usi-black-text mb-3"> Attributions de l’USI </h4>
                        <p class="text-base text-usi-black-text">
                            Outre les fonctions administratives, les métiers de l’USI sont l’exploitation, la maîtrise d’œuvre, la maîtrise d’ouvrage et l’AMO, le conseil, la conduite du changement, la conduite de projet, l’innovation et la veille technologique.
L’USI-MENFP a pour attributions de : 
<br>favoriser l’optimisation des échanges de données ;
<br>assurer la veille scientifique des avancées technologiques ;
<br>servir d’observatoire en matière d’innovation, de recherche et développement des systèmes d’informations ; ;
<br>proposer, implémenter et évaluer la performance des processus et des procédures visant à améliorer le fonctionnement des différents services du système ;
<br>harmoniser les modes de fonctionnement liés aux processus et aux outils de pilotage de la 
<br>conduite du changement auprès des agents et structures.
                        </p>
                    </div>  
                    
                    <div class="border-b border-usi-border-gray pb-4">
                        <h4 class="text-lg font-bold text-usi-black-text mb-3">La stratégie de l’Unité de Système d'Information passe par deux points essentiels </h4>
                        <p class="text-base text-usi-black-text">
                            <br>o	adoption des bonnes pratiques pour passer d’une approche manuelle et fragmentée à un processus automatisé avec des rapports complets devant faciliter la prise de décision ;
                            <br>o	fiabilisation des informations disponibles et réévaluation des mécanismes de collecte tenant compte de l’archivage des données. 

                        </p>
                    </div>
                </div>  
             </div>
            
         </div>
    </div>
</div>
