<div>
  <app-header-picture
    [backgroundImage]="backgroundImage"
    [pageTitle]="pageTitle"
  ></app-header-picture>
  <app-breadcrump></app-breadcrump>

  <div class="container">
    <div class="row">
      <p class="bref-presentation text-base text-usi-black-text py-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae
        quam, repellendus tempora assumenda facilis fugiat dignissimos corporis
        alias obcaecati quidem distinctio eaque hic maiores enim dolor neque
        eligendi perferendis repellat!
        <br />
        <br />Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus
        cupiditate consequuntur dolor, quod cum error exercitationem odit atque
        voluptas. Suscipit minima laudantium nam? Consequatur magnam fugiat
        laboriosam odit sapiente facere.
        <br />
        <br />Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Aspernatur delectus rerum deleniti labore sit recusandae hic tempora
        consectetur ratione eius excepturi tenetur minima enim quidem voluptate
        quaerat, culpa non suscipit!
      </p>
    </div>

    <div class="row">
      <div
        class="flex flex-col md:flex-row justify-between py-4 text-usi-black-text"
      >
        <div class="basis-1/3">
          <h4 class="title">Lorem ipsum dolor sit</h4>
        </div>

        <div class="basis-2/3">
          <div class="border-b border-usi-border-gray pb-4 mb-4">
            <h4 class="text-lg font-bold text-usi-black-text mb-3">
              Lorem ipsum dolor sit
            </h4>
            <p class="text-base text-usi-black-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              ipsam at quidem quod, impedit odit, quo neque, in eos quibusdam
              praesentium explicabo quos doloribus voluptatibus! Perferendis
              quasi libero et eveniet. Lorem, ipsum dolor sit
              <br />Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Commodi ea qui deserunt asperiores porro consectetur repellendus,
              delectus facere ipsam. Est quas fuga tenetur quaerat quo
              repudiandae facere aspernatur ex delectus! Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Repellat aperiam voluptas
              reprehenderit eius, facere voluptates officiis illo eos illum
              distinctio quas officia, delectus earum. Adipisci delectus
              asperiores minus assumenda consectetur.
            </p>
          </div>

          <div class="border-b border-usi-border-gray pb-4">
            <h4 class="text-lg font-bold text-usi-black-text mb-3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </h4>
            <p class="text-base text-usi-black-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              consequatur voluptate ad porro qui? Odit voluptas at, ducimus sint
              quasi porro praesentium quos iusto consequatur est id obcaecati
              facilis illo. Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Illum eum omnis repellat, delectus placeat deserunt adipisci
              temporibus natus facilis consequuntur. Architecto illo corporis
              quidem nostrum! Quam veritatis provident ex sequi?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
