

<div>
    <app-header-picture [backgroundImage]="backgroundImage" [pageTitle]="pageTitle"></app-header-picture>
    <app-breadcrump  [pageLabel]="pageLabel"></app-breadcrump>
    <div class="container">
        <div class="row">
            <p class="anonce">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Adipisci et, nulla quas, praesentium harum nemo expedita numquam placeat 
                laborum eveniet repudiandae distinctiodolorum ducimus voluptatibus voluptates
                similique perspiciatis quam odit!
            </p>
        </div>

        <div class="row">
            <h1 class="text-2xl font-semibold text-usi-black py-4 mb-4 relative">La coordination</h1>
            <div class="flex flex-row flex-wrap py-4">
                <app-user-card class="basis-usi-1.2/4"></app-user-card>
                <app-user-card class="basis-usi-1.2/4 user-center"></app-user-card>
                <app-user-card class="basis-usi-1.2/4"></app-user-card> 
            </div>    
        </div>
    </div>
</div>
