

<div>
    <app-header-picture [backgroundImage]="backgroundImage" [pageTitle]="pageTitle"></app-header-picture>
    <app-breadcrump  [pageLabel]="pageLabel"></app-breadcrump>
    <div class="container">
        <div class="row">
            <p class="anonce">
                L’organisation interne de l’Unité de Système d’Information (USI) est basée sur la compétence, l’expérience et l’assurance qualité. Elle regroupe les fonctions d’organisation, de méthode et de fourniture de services.
            </p>
        </div>

        <div class="row">
            <h1 class="title">La coordination</h1>
            <div class="flex flex-row flex-wrap justify-center 
            md:justify-start py-4">
                <app-user-card class="basis-usi-1.2/4 "></app-user-card>
                <app-user-card class="basis-usi-1.2/4 user-center"></app-user-card> 
                <app-user-card class="basis-usi-1.2/4"></app-user-card> 
            </div>    

            <div class="row">
                <h1 class="title">Le Secrétariat</h1>
                <div class="flex flex-row flex-wrap justify-center 
                md:justify-start py-4">
                    <app-user-card class="basis-usi-1.2/4 "></app-user-card>
                    <app-user-card class="basis-usi-1.2/4 user-center"></app-user-card> 
                    <app-user-card class="basis-usi-1.2/4"></app-user-card> 
                </div>    

                <div class="row">
                    <h1 class="title">L'Equipe de développement</h1>
                    <div class="flex flex-row flex-wrap justify-center 
                    md:justify-start py-4">
                        <app-user-card class="basis-usi-1.2/4 "></app-user-card>
                        <app-user-card class="basis-usi-1.2/4 user-center"></app-user-card> 
                        <app-user-card class="basis-usi-1.2/4"></app-user-card> 
                    </div>    

                    <div class="row">
                        <h1 class="title">Support et Opération</h1>
                        <div class="flex flex-row flex-wrap justify-center 
                        md:justify-start py-4">
                            <app-user-card class="basis-usi-1.2/4 "></app-user-card>
                            <app-user-card class="basis-usi-1.2/4 user-center"></app-user-card> 
                            <app-user-card class="basis-usi-1.2/4"></app-user-card> 
                        </div>    
        </div>
    </div> 
</div>
