<div>
  <!-- section 1 (background picture and slogan) -->
  <div class="relative">
    <app-header-picture
      [backgroundImage]="backgroundImage"
    ></app-header-picture>
    <!-- header slogan -->
    <div class="header-back-linear absolute top-0 left-0 h-full w-full">
      <div class="container h-full">
        <div
          class="w-3/3 sm:w-2/3 md:w-1/2 h-full flex flex-col justify-center"
        >
          <p
            class="header-slogan text-3xl leading-loose tracking-wider py-5 px-4 font-semibold text-template-white-FFF sm:text-4xl"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- section 2 ( presentation) -->
  <section
    class="row border-t-4 bg-template-white-FFF border-template-blue-0061a4"
  >
    <div class="container">
      <div class="att-card-container relative">
        <div class="center att-separator"></div>
        <!-- presentation card -->
        <div class="att-card">
          <!-- title -->
          <h1 class="sub-title att-card-title">Lorem ipsum dolor</h1>
          <!-- card content -->
          <p class="att-card-content">
            <span>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil
              pariatur numquam doloremque, labore, omnis nulla beatae voluptas
              sit natus impedit accusantium veniam aliquid ipsam eaque
              voluptates eius ea aspernatur saepe.
            </span>
          </p>

          <!-- card content link -->
          <div>
            <span class="">
              <a class="btn att-btn" href="#"
                >read more
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </span>
          </div>
        </div>

        <!-- presentation card -->
        <div class="att-card">
          <!-- title -->
          <h1 class="sub-title att-card-title">Lorem ipsum dolor</h1>
          <!-- card content -->
          <p class="att-card-content">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit non
              vel error, incidunt perspiciatis, rerum quidem fuga optio labore
              placeat unde! Sapiente facilis quaerat, facere porro repudiandae
              eum aspernatur animi!
            </span>
          </p>
          <!-- card content link -->
          <div>
            <span class="">
              <a class="btn att-btn" (click)="scrollToAncor()"
                >read more
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- section 3 ( realisation) -->
  <section class="row">
    <div class="container">
      <!-- title -->
      <div class="title-container">
        <h3 class="title">Réalisation</h3>
      </div>

      <div class="rea-row">
        <!-- realisation card -->
        <div class="rea-card">
          <div class="rea-card-top">
            <!-- realisation loggo -->
            <a
              href="#"
              class="rea-card-logo"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="center">
                <i class="fa-solid fa-database"></i>
              </span>
            </a>
            <!-- realisation ttitle and link -->
            <h5 class="rea-card-title">
              <a class="" href="#">CIANET</a>
            </h5>
          </div>
          <!-- realisation description -->
          <div class="py-2">
            <p class="rea-card-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
              inventore omnis alias nulla, incidunt, perferendis quos saepe
              illum adipisci asperiores autem temporibus placeat, tenetur animi
              tempore iure odio explicabo consequuntur.
            </p>
          </div>
        </div>

        <!-- realisation card -->
        <div class="rea-card">
          <div class="rea-card-top">
            <!-- realisation loggo -->
            <a
              href="#"
              class="rea-card-logo"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="center">
                <i class="fa-solid fa-clipboard-user"></i>
              </span>
            </a>
            <h3 class="rea-card-title">
              <a class="" href="#"> CIANET</a>
            </h3>
          </div>
          <div class="py-2">
            <p class="rea-card-content">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
              quas ipsum facilis veritatis velit sequi suscipit. Omnis voluptas
              minus aliquam velit! Alias tempore corrupti quas quaerat molestias
              eos suscipit inventore!
            </p>
          </div>
        </div>

        <!-- realisation card -->
        <div class="rea-card">
          <div class="rea-card-top">
            <a
              href="#"
              class="rea-card-logo"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="center">
                <i class="fa-solid fa-book"></i>
              </span>
            </a>
            <h3 class="rea-card-title">
              <a class="" href="#">CIANET</a>
            </h3>
          </div>
          <div class="py-2">
            <p class="rea-card-content">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus ipsum dignissimos corrupti fugiat architecto voluptas
              eos earum quidem voluptatibus laboriosam nulla perspiciatis
              delectus, dolor modi assumenda ratione quis dolorum veniam.
            </p>
          </div>
        </div>

        <div class="rea-card">
          <div class="rea-card-top">
            <a
              href="#"
              class="rea-card-logo"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="center">
                <i class="fa-solid fa-browser"></i>
              </span>
            </a>
            <h3 class="rea-card-title">
              <a class="" href="https://peqh.menfp.gouv.ht/#/Acceuil">CIANET</a>
            </h3>
          </div>
          <div class="py-2">
            <p class="rea-card-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              eius adipisci, eos voluptatum illum iste inventore officia,
              molestias dicta hic, esse laudantium accusantium. Quaerat sequi
              ipsum officia nemo, ratione est!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- section  Objectif-->
  <section class="row bg-template-blue-0057A3">
    <div class="container">
      <div class="flex flex-col md:flex-row py-3 text-template-white-FFF">
        <div class="basis-1/3">
          <h3 class="title mission-title">Notre stratégie</h3>
        </div>

        <div class="basis-2/3">
          <ul class="mission-list">
            <li>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
              voluptas molestiae sapiente voluptate, animi totam dignissimos
              maiores deserunt dolores eveniet, cum eligendi distinctio porro
              harum, enim fugiat aut delectus nisi?
            </li>

            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus molestias enim officia fugit numquam voluptas eius
              repudiandae error, deserunt voluptate laborum aliquam, blanditiis
              fugiat temporibus minus sed ex. Dolore, delectus.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- section 4 (directeur) -->
  <section class="row bg-template-white-FFF">
    <div class="container">
      <!-- user card  -->
      <div class="dir-row">
        <div class="dir-card">
          <!-- user picture -->
          <div class="dir-picture">
            <img
              src="./assets/userPicture/avatar.png"
              width="1200"
              height="1200"
              alt="le directeur"
            />
          </div>

          <!-- user name and poste -->
          <div class="dir-desc-container">
            <h3 class="dir-user-name">Jhon Doe</h3>
            <h3 class="dir-user-poste">Coordonnateur</h3>
          </div>

          <!-- user biographie -->
          <div class="dir-bio-container">
            <p class="dir-bio">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
              dolor delectus minima perspiciatis quisquam, doloribus nesciunt
              natus pariatur mollitia porro fugiat, corrupti, dolore vel numquam
              ex eum omnis voluptates. Illo?
            </p>
          </div>
        </div>

        <div class="dir-card">
          <!-- user picture -->
          <div class="dir-picture">
            <img
              src=".\assets\userPicture\avatar.png"
              width="1200"
              height="1200"
              alt="ledirecteur adjoint"
            />
          </div>

          <!-- user name and poste -->
          <div class="dir-desc-container">
            <h3 class="dir-user-name">Janne Doe</h3>
            <h3 class="dir-user-poste">Coordonnateur Adjoint</h3>
          </div>

          <!-- user biographie -->
          <div class="dir-bio-container">
            <p class="dir-bio">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
              illo sapiente temporibus necessitatibus dignissimos magnam debitis
              voluptatem fugit nihil ipsa officiis quibusdam quaerat, quia
              impedit ab expedita beatae, enim voluptatibus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- section 5 grand catier -->
  <section class="row" [id]="'directeur'">
    <div class="container">
      <!-- section title -->
      <div class="title-container">
        <h1 class="title">Grand chantier</h1>
      </div>

      <!-- section accordion -->
      <div class="py-8 md:w-4/5 lg:w-3/4 mx-auto">
        <app-accordion class=" " title="'Titre'">
          <app-accordion-link class="" [title]="'Lorem ipsum dolor'">
            <div></div>
            <p class="">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
              adipisci officiis repellat recusandae ut. Consequuntur, earum ea
              laudantium nemo dolore dolor error optio fugiat aspernatur, nam
              corrupti assumenda asperiores dicta.
              <br />
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Laboriosam iure explicabo fugiat consequuntur, saepe, ducimus
              laudantium, exercitationem earum ab perspiciatis doloribus! Modi
              obcaecati exercitationem suscipit fugiat eveniet officiis quasi
              sapiente!
            </p>
          </app-accordion-link>

          <app-accordion-link [title]="'Lorem ipsum dolor sit amet'">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia,
            magnam! Eaque numquam maxime aperiam eum eos molestiae quae
            assumenda molestias quidem magnam ab dolorem tempora laborum
            asperiores, ducimus velit nam?
          </app-accordion-link>
        </app-accordion>
      </div>
    </div>
  </section>
</div>
