<div>
    <div class="relative">
        <app-header-picture [backgroundImage]="backgroundImage" ></app-header-picture>
        
        <div class="header-back-linear absolute top-0 left-0 h-full w-full">
            <div class="container">
                <div class="w-1/2 h-96 flex flex-col justify-center py-4">
                    <p class="header-slogan text-left text-3xl leading-snug
                     font-semibold text-usi-light-gray
                     sm:text-5xl
                     ">Technology to serve
                     <span class="font-bold">MENFP</span> </p>
                </div>
                
            </div>
        </div>
    </div>
    

    <div  class="row border-t-4 bg-white border-usi-blue-500">
        <div class="container">
            <div class="att-card-container">
                <div class="att-card">
                    <h1 class="att-card-title">Attriution l'egal</h1>
                    <p class="att-card-content"> 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quod deserunt non perferendis. Ad nesciunt doloremque repudiandae corporis commodi.
                        Ex reiciendis soluta recusandae sed consequuntur 
                        necessitatibus molestias cum veritatis asperiores harum! 
                    </p>
                </div>

                <div class="att-card">
                    <h1 class="att-card-title">Attriution l'egal</h1>
                    <p class="att-card-content"> 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quod deserunt non perferendis. Ad nesciunt doloremque repudiandae corporis commodi.
                        Ex reiciendis soluta recusandae sed consequuntur 
                        necessitatibus molestias cum veritatis asperiores harum! 
                    </p>
                </div>
            </div>
            
        </div>
    </div>

    <div  class="row">
        <div class="container">
            <div class="title-container">
                <h3 class="title"> Realisation</h3>
            </div>
            
            <div class="rea-row">
                <div class="rea-card">
                    <div class="rea-card-top"> 
                        <div class="rea-card-logo"></div>
                        <h3 class="rea-card-title">
                            Sigeee
                        </h3>
                    </div>
                    <div class="py-2">
                        <p class="rea-card-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Nisi quis eligendi odit molestias dolorum sit error omnis velit.
                            Ut aperiam natus reprehenderit sapiente eaque,
                            quidem ducimus doloremque provident corporis distinctio.
                        </p>
                    </div>
                    <div class="hidden"></div>   
                </div>

                <div class="rea-card rea-center">
                    <div class="rea-card-top"> 
                        <div class="rea-card-logo"></div>
                        <h3 class="rea-card-title">
                            Sigeee
                        </h3>
                    </div>
                    <div class="py-2">
                        <p class="rea-card-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Nisi quis eligendi odit molestias dolorum sit error omnis velit.
                            Ut aperiam natus reprehenderit sapiente eaque,
                            quidem ducimus doloremque provident corporis distinctio.
                        </p>
                    </div>
                    <div class="hidden"></div>   
                </div>

                <div class="rea-card">
                    <div class="rea-card-top"> 
                        <div class="rea-card-logo"></div>
                        <h3 class="rea-card-title">
                            Sigeee
                        </h3>
                    </div>
                    <div class="py-2">
                        <p class="rea-card-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Nisi quis eligendi odit molestias dolorum sit error omnis velit.
                            Ut aperiam natus reprehenderit sapiente eaque,
                            quidem ducimus doloremque provident corporis distinctio.
                        </p>
                    </div>
                    <div class="hidden"></div>   
                </div>
                
            </div>
        </div>
    </div>
    <!-- section directeur -->
    <div  class="row bg-usi-blue-500">
        <div class="container">
            <div class="dir-row">
                <div class="dir-card">
                    <div class="dir-picture">
                        <img src="./assets/cat_PNG50514.png"  width="1200" height="1200" alt="" srcset="">
                    </div>

                    <div class="dir-content-container">
                        <h3 class="dir-user-name"> Jean b. Aluc</h3>
                        <h3 class="dir-user-poste">Le directeur</h3>
                        <p class="dir-user-bio">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Tempora vitae laudantium corporis pariatur corrupti.
                            Molestias, quibusdam voluptatibus possimus nesciunt omnis quaerat doloribus,
                            aut quam similique neque quod consectetur laboriosam harum.
                        </p>
                    </div>
                </div>
                
                <div class="dir-card">
                    <div class="dir-picture">
                        <img src="./assets/cat_PNG50514.png" width="1200" height="1200" alt="" srcset="">
                    </div>

                    <div class="dir-content-container">
                        <h3 class="dir-user-name"> Jean b. Aluc</h3>
                        <h3 class="dir-user-poste">Le directeur</h3>
                        <p class="dir-user-bio">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Tempora vitae laudantium corporis pariatur corrupti.
                            Molestias, quibusdam voluptatibus possimus nesciunt omnis quaerat doloribus,
                            aut quam similique neque quod consectetur laboriosam harum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="title-container">
                <h1 class="title"> Grand chantier</h1>
            </div>

            <div class="py-8">
                <app-accordion title="'Titre'">
                    <app-accordion-link [title]="'Title work'">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Quia, magnam! Eaque numquam maxime aperiam eum eos molestiae quae assumenda
                        molestias quidem magnam ab dolorem tempora laborum asperiores, ducimus velit nam?
                    </app-accordion-link>

                    <app-accordion-link [title]="'Title work 2'">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Quia, magnam! Eaque numquam maxime aperiam eum eos molestiae quae assumenda
                        molestias quidem magnam ab dolorem tempora laborum asperiores, ducimus velit nam?
                    </app-accordion-link>
                </app-accordion> 
            </div>
             
        </div>
    </div>
 
</div>
