 .title-container{
    @apply relative w-full py-2 
 }
 
 .title{
     @apply text-3xl font-semibold text-usi-black-text
 }

 .sub-title{
       @apply text-usi-black font-semibold 
 }

 .row{
     @apply  flex flex-row justify-between py-8
 }

 .center{
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
 }
 .w-bg-linear{
    background-image : radial-gradient(circle,rgba(190, 190, 190,.7),#c7c7c7)
 }

 .header-back-linear{
    background-image: linear-gradient(105deg,
     rgba(15, 72, 128, 1) 0%, rgba(18, 86, 153, 0.8) 50%, transparent 70%);
 }

 .rea-center{
   @apply sm:mx-[1%] md:mx-[2%]
 }

 .usi-link{
   @apply text-usi-blue-200 font-light text-base tracking-wide border-b border-usi-blue-200
   hover:text-usi-blue-400 hover:px-4 hover:border-usi-blue-400 transition;
   
 }

/***************************************** section 1 ****************************************/

.att-card-container{
   @apply flex flex-col  my-4
   sm:flex-row sm:justify-between
}
 .att-card{
    @apply my-2 p-6 border border-[rgba(0,0,0,0.2)] rounded-md shadow-sm text-base
    sm:basis-usi-1/2 sm:my-0
 }

 .att-card-title{
   @apply mb-2.5;
 }

 .att-card-content{
   @apply  text-usi-dark-gray font-light inline-block
 }
 
 /******************************************* setion 2 *******************************************/
 .rea-row{
    @apply grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-6 lg:gap-4 justify-center py-8 
    /* @apply  flex flex-row flex-wrap sm:justify-start sm:gap-5  */
 }
 
 .rea-card{
      @apply max-w-[345px] my-3 pb-5 lg:my-0 
   /* @apply relative basis-1/3 min-w-[345px]  sm:min-w-[290px] */
 }

 .rea-card-top{
   @apply text-center
 }

 .rea-card-logo{
    @apply relative h-20 w-20 rounded-full mx-auto bg-usi-orange-400 shadow-md
 }
 
 .rea-card-title{
    @apply py-2; 
 }

 .rea-card-title a{
   @apply inline-block px-1 uppercase text-xl tracking-wide leading-relaxed font-extralight 
       text-usi-blue-200 hover:text-usi-blue-300 hover:underline transition;
 }

 .rea-card-content{
    @apply px-2 text-center flex-grow text-base mb-5;
 }

 /************************************* section 3 ***************************************/
 .dir-row{
   @apply flex flex-col
    md:justify-start md:flex-row md:flex-wrap
}

.dir-card{
  @apply basis-usi-1/2 flex flex-col my-3
  sm:flex-row sm:justify-center md:flex-wrap lg:flex-nowrap
}

.dir-picture{
   @apply relative text-center bg-usi-light-gray p-0.5 max-w-[240px] max-h-[270px] self-center
   md:self-auto

}

.dir-picture img{
   @apply max-w-[220px] max-h-[270px]
}

.dir-content-container{
   @apply py-2 ml-4 text-center min-w-[245px] max-w-[420px] self-center
   sm:text-left sm:self-auto  md:min-w-[200px] md:max-w-[350px]  md:text-center lg:text-left
}

.dir-user-name{
   @apply text-xl tracking-wide text-white font-bold capitalize mb-1
}

.dir-user-poste{
   @apply text-base font-extralight text-[#eee] capitalize mb-1 -mt-1
}

.dir-user-bio{
   @apply text-sm py-2 text-[#eee]
}

