 .title-container{
    @apply relative w-full py-2 
 }
 
 .title{
     @apply text-3xl font-semibold text-template-black-212121
 }

 .sub-title{
       @apply text-template-gray-333 font-semibold 
 }

 .row{
     @apply  flex flex-row justify-between py-8
 }

 .center{
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
 }
 .w-bg-linear{
    background-image : radial-gradient(circle,rgba(190, 190, 190,.7),#c7c7c7)
 }

 .header-back-linear{
    background-image: linear-gradient(105deg,
    rgba(0, 87, 163,1) 0%, rgba(0, 87, 163, 0.8) 60%, transparent 70%);
 }

 .usi-link{
   @apply text-template-blue-0057A3 font-light text-base tracking-wide  underline
   hover:text-template-blue-009FDF  hover:border-template-blue-009FDF transition; 
 }

 .btn{
   @apply inline-block my-4 px-4 py-3 rounded-md shadow-sm transition
 }


/***************************************** section 1 ****************************************/

 .att-card-container{
      @apply flex flex-col md:flex-row justify-between 
 }

 .att-card{
   /* border border-[rgba(0,0,0,.2)] rounded-md */
    @apply flex flex-col py-6 px-6  my-4 text-base 
      md:border-none md:px-0 md:basis-2/5
 }

 .att-separator{
    @apply hidden md:block w-[1px] h-1/5 bg-template-orange-da291c
 }

 .att-card-title{
   @apply mb-2.5;
 }

 .att-card-content{
   @apply  text-template-gray-333 font-light inline-block text-justify flex-1
 }

 .att-btn{
   @apply border border-template-blue-0057A3 shadow-sm mb-0 text-template-gray-333 text-sm
         hover:border-template-orange-fb923c hover:text-template-blue-009FDF
 }
 
 /******************************************* setion 2 *******************************************/
 .rea-row{
    @apply grid grid-cols-1 justify-center py-14
    md:grid-cols-2 lg:grid-cols-4 md:gap-6 lg:gap-4
   
 }
 
 .rea-card{
      @apply relative py-5 mx-auto sm:mx-0 px-6 sm:px-0
   /* @apply  basis-1/3 min-w-[345px]  sm:min-w-[290px] */
 }

 .rea-card-top{
   @apply text-center
 }

 .rea-card-logo{
    @apply relative inline-block text-center leading-[1] h-16 w-16 rounded-full mx-auto
     bg-template-orange-da291c shadow-md text-3xl  text-template-white-FFF
 }
 
 .rea-card-title{
    @apply mt-2; 
 }

 .rea-card-title a{
   @apply inline-block text-xl tracking-wider mt-1 font-semibold
       text-template-blue-0057A3   hover:text-template-blue-009FDF hover:underline transition;
 }

 .rea-card-content{
    @apply -mt-0.5 text-center font-light text-template-gray-333;
 }
 /************************************* Mission   ***************************************/
 .mission-title{
    @apply text-template-white-FFF mb-3
 }

 .mission-list{
    @apply px-5
 }
 .mission-list li{
    @apply first-letter:capitalize even:mt-2 list-disc font-light
 }

 /************************************* section 3 ***************************************/
 .dir-row{
   @apply grid grid-cols-1 md:grid-cols-2 gap-6
 }

 .dir-card{
    @apply  px-5 py-3 overflow-hidden bg-template-light-gray-f7f7f7 shadow-sm 
    border border-x-template-white-FFF rounded-md text-center
 }

 .dir-picture{
   @apply text-center
 }

 .dir-picture img{
    @apply object-cover w-[360px] h-[360px] mx-auto my-auto
 }
 
 .dir-user-name{
    @apply text-template-black-212121 text-2xl font-semibold tracking-wider mt-1.5 mb-1
 }

 .dir-user-poste{
    @apply text-template-blue-0c3a66 font-semibold mb-5
 }

.dir-bio-container{
   @apply px-4 
 }

 .dir-bio{
    @apply text-template-gray-333 font-light 
 }

