<!-- social media list -->
<ul class="">
    <!-- facebook -->
    <li class="social-li">
        <a class="social-link" href="#"  title="usi on Facebook" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
    </li>
    <!-- LinkedIn -->
    <li class="social-li">
        <a class="social-link" href="#"  title="usi on LinkedIn" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
    </li>

    <!-- Twitter -->
    <li class="social-li">
        <a class="social-link" href="#" title="usi on Twitter" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </li>
    
    <!-- GitHub -->
    <li class="social-li">
        <a class="social-link" href="#" title="usi on GitHub" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
        </a>
    </li>     
</ul>
