.accordion-top{
    @apply  flex flex-row border border-template-white-FFF
     rounded-md shadow-sm cursor-pointer mb-2
}

.top-hide{
    @apply bg-template-white-FFF text-template-black-212121
}

.top-show{
    @apply bg-template-blue-0057A3 text-template-white-FFF
}

.accordion-top-title{ 
    @apply py-3 px-4 flex-1 text-base font-medium ;  
}

.accordion-top-icon{
    @apply py-3 px-4  text-right ;
}

.icon-show{
    animation: showIcon .3s ease forwards;
}

.icon-hide{
    animation: hideIcon .3s ease forwards;
    @apply text-template-gray-333;
}

/* transition for the accordion  icon */
@keyframes showIcon{
    0%{
        transform:rotate(0);
    }

    100%{
        transform: rotate(-180deg);
    }
}

@keyframes hideIcon{
    0%{
        transform:rotate(180deg);
    }

    100%{
        transform: rotate(0);
    }
}

/* accordion content  */
.accordion-bottom{
    @apply px-6 pb-5 pt-3 -mt-2 text-base font-light
}