nav{
    @apply bg-template-white-FFF shadow-sm shadow-template-light-gray-f5f5f5 z-10;
}

.nav-content-container{
    @apply md:flex md:flex-row  mx-auto py-4 relative
}

.nav-logo-container{
    @apply flex justify-between md:block
}

/**************************************** navbar style**************************************************/

/* navbar div container */
.nav-bar-container{
    @apply relative z-10  -mx-4
           md:mx-0 md:flex md:justify-end md:flex-grow md:self-center md:static;
}

/* navbar ul */
.navbar-nav{
    @apply flex flex-col  bg-template-white-FFF border-b border-b-template-light-gray-f5f5f5 absolute top-4 left-0 w-full border-t  
    border-t-template-light-gray-f5f5f5
    md:flex-row md:justify-end md:gap-8 md:flex-grow md:self-center md:static md:bg-template-white-FFF md:border-none
 }

/* nav li */
.nav-link{ 
    @apply text-template-black-212121 font-semibold tracking-wide first-letter:capitalize text-base text-justify
    transition  hover:text-template-blue-009FDF;
}

/* nav -a */
.nav-item{
    @apply p-4 border-b border-template-light-gray-ddd
    md:border-none md:p-0 
}

/* activ link */
.active{
    @apply text-template-blue-0061a4
}

/* animation for the nav state */
.show{
    @apply  flex  transition-transform ease-in md:translate-y-0 md:flex;
}

.hide{
    @apply hidden  transition-transform ease-out md:translate-y-0 md:flex;
}
